@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root {
    --primary-color: #7945FF;
    --secondary-color: #5C2DD5;
    --black: #000;
    --player-one: #FD6687;
    --player-two: #FFCE67;
    --white: #fff;
}

body {
    background-color: #7945FF;
    font-family: "Space Grotesk", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding: 3.3rem;
}

.headerBtn {
    border: none;
    border-radius: 99px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 20px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    padding: 0 1.5rem;
}

.divScore {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
    background-color: var(--white);
    padding: 2.8rem 1.75rem 1rem 1.75rem;
}

.imgPlayer {
    position: absolute;
    bottom: 79%;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25.52px;
    color: var(--black);
}

.score {
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;
    color: var(--black);
}

.imgGrid {
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 30%;
}

.grid {
    display: grid;
    gap: 13px;
    position: absolute;
    top: 21.8%;
    left: 30.9%;
    justify-content: space-between;
    grid-template-columns: repeat(7, 75px);
    grid-template-rows: repeat(6, 75px);
}

.btnGrid {
    z-index: 1;
    border: none;
    border-radius: 50%;
}

.imgShadowGrid {
    z-index: 0;
    position: absolute;
    top: 20%;
    left: 30%;
}

.divFooter {
    height: 250px;
    background-color: var(--secondary-color);
    border-radius: 60px 60px 0 0;
}

.chronometre1, .chronometre2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 44%;
    z-index: 3;
    width: 12%;
    margin: auto;
    text-align: center;
    background-color: var(--player-one);
    padding: 1.5rem 0;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.chronometre2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 44%;
    z-index: 3;
    width: 12%;
    margin: auto;
    text-align: center;
    background-color: var(--player-two);
    padding: 1.5rem 0;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
}

.chronoPlayer1H2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20.42px;
}

.chronoPlayer2H2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20.42px;
    color: white;
}

.chronoPointPlayer1, span {
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;
    color: white;
}

.chronoPointPlayer2, span {
    font-weight: 700;
    font-size: 56px;
    line-height: 71.46px;
    color: white;
}